body {
    margin: 0;
    font-family: Open Sans;
    background-color: #EFEFEF;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}
/* =============================================================================== */
header {
    float: left;
    padding: 1% 2%;
    width: 96%;
    background-color: darkgreen;
    box-shadow: 0 0 20px black;
}

header #title {
    float: left;
    color: white;
    margin: 0.2% 0 0 0;
}

#menu-utama {
    float: left;
    margin: -0.5% 0 -0.5% 8%;
}

#menu-kanan  {
    float: right;
    margin: -0.5% 0 -0.5% 8%;
}

#menu-utama ul, #menu-kanan ul {
    float: left;
    padding: 0;
    margin: 0;
    width: auto;
}

#menu-utama ul li, #menu-kanan ul li {
    float: left;
    list-style: none;
}

#menu-utama a, #menu-kanan a {
    float: right;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.5s;
}

#menu-utama a:hover, #menu-kanan a:hover {
    background-color: green;
    border-radius: 5px;
    transition: 0.5s;
}
/* =============================================================================== */
.form {
    float: left;
    width: 30%;
    margin: 4% 35%;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.form #title {
    float: left;
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: darkred;
}

.form #data {
    float: left;
    text-align: center;
    width: 96%;
    padding: 1% 2% 2% 2%;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.form #data #dropdown {
    text-align-last: center;
}

.form #data textarea {
    width: 96%;
    padding: 1%;
}

.form #data #content {
    width: 96%;
    height: 200px;
    padding: 1%;
}

.form #data input[type='text'], .form #data select {
    width: 96%;
    padding: 1%;
    margin: 1% 0;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
}

.form #data input[type='reset'] {
    padding: 2% 3%;
    border: 0;
    background-color: darkred;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.form #data input[type='reset']:hover {
    background-color: red;
    transition: 0.5s;
}

.form #data input[type='submit'] {
    padding: 2% 3%;
    border: 0;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.form #data input[type='submit']:hover {
    background-color: green;
    transition: 0.5s;
}
/* =============================================================================== */
.view-posting {
    float: left;
    width: 100%;
    text-align: center;
    background-color: white;
}

.view-posting th {
    background-color: darkred;
    color: white;
}

.view-posting td {
    background-color: #EFEFEF;
}

.view-posting img {
    width: 100%;
}
/* =============================================================================== */
.content {
    float: left;
    width: 97%;
    margin: 1%;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    padding: 1% 0.5%;
    border-top: 5px solid darkgreen;
    text-align: center;
}
/* =============================================================================== */
#tb_home {
    float: left;
    width: 100%;
    text-align: center;
    background-color: white;
}

#tb_home th {
    background-color: darkred;
    color: white;
}

#tb_home td {
    background-color: #EFEFEF;
}